parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    bootstrapFiles:
        - ../vendor/autoload.php
    excludes_analyse:
        # Makes PHPStan crash
        - '../src/DependencyInjection/Configuration.php'
        - '../ruleset/ecs.php'

        # Test dependencies
        - '../tests/Application/'
        - '../tests/PHPUnit'

        - '../bin/'

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
