parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    paths:
        - ../src
    bootstrapFiles:
        - ../vendor/autoload.php
    excludePaths:
        - ../src/DependencyInjection/Configuration.php?
        - ../tests/Application/?
        - ../tests/PHPUnit
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        - '#Call to an undefined method Sylius\\Component\\Channel\\Repository\\ChannelRepositoryInterface::count\(\)\.#'
        - "#^Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\SessionInterface\\:\\:getFlashBag\\(\\)\\.$#"
